.header {
  text-align: center;
  background-color: #05377f;
  color: #fff;
}
.header__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.header img {
  height: 50px;
}
.header .menu {
  display: inherit;
}
.header .menu li{
  margin: 10px;
}
.header .menu li a{
  margin: 10px;
  color: #fff;
}
.header .menu li a.active{
  margin: 10px;
  color: #fff;
  border: 1px solid transparent;
  border-bottom: 1px solid #fff;
}