.search {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.search__input {
  height: 30px;
  width: 400px;
  font-size: 16px;
  font-weight: 300;
  outline: none;
  border: 0;
  padding: 0 10px;
  border: 4px solid #28afd4;
}
